@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Noto Serif");

:root {
    margin: 0 auto;
    padding: 0 16vw;
    min-width: 900px;
    max-width: 1900px;
}

.titlefont {
    font-family: 'Noto serif';
}